@model IEnumerable<WildAlert.Application.Requests.Alerts.AlertDto>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div id="alerts">
    <table class="table">
        <thead>
        <tr>
            <th>
                Zwierzę
            </th>
            <th>
                Data zgłoszenia
            </th>
            <th>
                Komentarz
            </th>
            <th>
                Lokalizacja
            </th>
            <th class="text-end">
                Operacje
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var alert in @Model)
        {
            <tr>
                <td>@alert.Animal</td>
                <td>@alert.CreatedAt.ToString("dd.MM.yyyy")</td>
                <td>@alert.Comments</td>
                <td>Długość @alert.Longitude <br>
                    Szerokość @alert.Latitude
                </td>
                <td class="text-end">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAlertModal" data-bs-id=@alert.Id>
                        Usuń
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div>
        <a class="btn btn-outline-primary" asp-action="Create" asp-controller="Alerts">Dodaj zgłoszenie</a>
    </div>
</div>

<div class="modal fade" id="deleteAlertModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Usuwanie zgłoszenia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Czy na pewno chcesz usunąć zgłoszenie?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                <a type="button" asp-action="Delete" class="btn btn-danger" >Usuń</a>
            </div>
        </div>
    </div>
</div>