@model IEnumerable<WildAlert.Application.Requests.Alerts.AlertDto>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div id="alerts">
    <table class="table">
        <thead>
        <tr>
            <th>
                Zwierzę
            </th>
            <th>
                Data zgłoszenia
            </th>
            <th>
                Komentarz
            </th>
            <th>
                Lokalizacja
            </th>
            <th class="text-end">
                Operacje
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var alert in @Model)
        {
            <tr>
                <td>@alert.Animal</td>
                <td>@alert.CreatedAt.ToString("dd.MM.yyyy")</td>
                <td>@alert.Comments</td>
                <td>Długość @alert.Longitude <br>
                    Szerokość @alert.Latitude
                </td>
                <td class="text-end">
                    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-route-id=@alert.Id>
                     Usuń
                   </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div>
        <a class="btn btn-outline-primary" href="/Alerts/Create"  asp-action="Create" asp-controller="Alerts">Dodaj zgłoszenie</a>
    </div>
</div>